.hoverAreaT{border-top:1px solid #fff;}.hoverAreaT:hover{border-top:1px solid #dddddd;}
.hoverAreaR{border-right:1px solid #fff;}.hoverAreaR:hover{border-right:1px solid #dddddd;}
.hoverAreaB{border-bottom:1px solid #fff;}.hoverAreaB:hover{border-bottom:1px solid #dddddd;}
.hoverAreaL{border-left:1px solid #fff;}.hoverAreaL:hover{border-left:1px solid #dddddd;}
