.underlineBtn{border:none;outline:none;color:#7c7c7c;height:25px;line-height:25px;font-size:20px;text-decoration:underline;cursor:pointer;}.underlineBtn:hover{color:#000;}
.underlineBtn.main{color:#57D557;}.underlineBtn.main:hover{color:#0C9C0C;}
.underlineBtn.important{color:#FF4444;}.underlineBtn.important:hover{color:#D30000;}
